<div class="container-fluid">

    <!-- inicio menu -->
    <div class="collapse navbar-collapse" id="sidebar-menu">
        <ul class="navbar-nav pt-lg-3">
            <li class="nav-item" routerLinkActive="active" style="margin-bottom: 10px;">
                <a class="nav-link" [routerLink]="['usuarios']">
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
            <i class="ti ti-users" style="color: white"></i>
          </span>
                    <span class="nav-link-title">Usuarios</span>
                </a>
            </li>
            
        </ul>
    </div>
</div>
