<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Programas Sociales</h3>
            </div>
            <div class="card-body border-bottom py-3">
                <div class="d-flex">
                    <button class="btn btn-primary" class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#modal-report">
                        <i class="fe fe-plus me-1"></i>Agregar Programa social
                    </button>
                    <div class="ms-auto text-muted">
                        <div class="input-icon">
                            <input #busquedaInput type="text" class="form-control form-control-rounded" placeholder="Buscar" />
                            <span class="input-icon-addon">
                                <i class="fe fe-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                        <tr>
                            <th class="w-1">#</th>
                            <th>Nombre</th>
                            <th>Color</th>
                            <th>Acrónimo</th>
                            <th>Estatus</th>
                            <th class="text-center" style="width: 7%">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="table-tbody">
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-warning btn-icon btn-sm" data-bs-toggle="modal" data-bs-target="#modal-report">
                                        <i class="fe fe-edit"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Programas sociales
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closebutton (click)="ResetForm()"></button>
                </div>
                <form [formGroup]="SocialForm" class="p-4">
                    <div class="row">
                        <div class="col-4">
                            <label for="Nombre" class="form-label">Nombre*:</label>
                            <input type="text" class="form-control" name="example-text-input" formControlName="Nombre">
                                <div *ngIf="SocialForm.get('Nombre')?.touched" class="error-message">
                                    <div *ngIf="SocialForm.get('Nombre')?.hasError('required')">
                                        El Nombre es obligatorio
                                    </div>
                                    <div *ngIf="SocialForm.get('Nombre')?.hasError('minlength')">
                                        El Nombre debe tener al menos 3 caracteres
                                    </div>
                                    <div *ngIf="SocialForm.get('Nombre')?.hasError('pattern')">
                                      El Nombre no puede tener números ni signos
                                    </div>
                                </div>
                        </div>

                        <div class="col-4">
                            <label for="AreaAdscripcionId" class="form-label">Área de adscripción*:</label>
                            <select class="form-select" formControlName="AreaAdscripcionId">
                                <option>area.nombre</option>
                            </select>
                            <div *ngIf="SocialForm.get('AreaAdscripcionId')?.touched" class="error-message">
                                <div *ngIf="SocialForm.get('AreaAdscripcionId')?.hasError('required')">
                                  El área de adscripción es obligatoria
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <label for="Acronimo" class="form-label">Acrónimo*:</label>
                            <input type="text" class="form-control" name="example-text-input" formControlName="Acronimo">
                            <div *ngIf="SocialForm.get('Acronimo')?.touched" class="error-message">
                                <div *ngIf="SocialForm.get('Acronimo')?.hasError('required')">
                                  El acrónimo es obligatorio
                                </div>
                                <div *ngIf="SocialForm.get('Acronimo')?.hasError('minlength')">
                                  El acrónimo debe tener al menos 4 caracteres
                                </div>
                                <div *ngIf="SocialForm.get('Acronimo')?.hasError('pattern')">
                                  El acrónimo no puede tener números ni signos
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="Color" class="form-label">Color*:</label>
                            <input type="color" class="form-control" name="example-text-input"  formControlName="Color">
                        </div>
                        <div class="col-4">
                            <label for="Color" class="form-label">Estatus*:</label>
                                <span class="col-auto">
                                  <label class="form-check form-check-single form-switch">
                                    <input class="form-check-input" type="checkbox" checked formControlName="Estatus" required>
                                  </label>
                                </span>
                              <div *ngIf="SocialForm.get('Estatus')?.touched" class="error-message">
                                <div *ngIf="SocialForm.get('Estatus')?.hasError('required')">El estatus es obligatorio</div>
                              </div>
                        </div>
                    </div>

                    <!-- Additional fields... -->

                    <div class="form-group">
                        <label for="Descripcion" class="form-label">Descripción*:</label>
                        <textarea id="Descripcion" name="Descripcion" rows="2" class="form-control" formControlName="Descripcion"></textarea>
                        <br>
                        Todos los campos marcados con * son requeridos
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex justify-content-end">
                                <button type="submit" [disabled]="!SocialForm.valid" class="btn btn-purple">
                                    {{ isUpdating ? "Actualizar " : "Agregar " }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- FIN MODAL -->
</div>