<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Mapa de programas sociales</h3>
            </div>
            <div class="card-body border-bottom py-3">
                <div class="row">
                    
                    <div class="col-lg-6  text-muted">
                        <div class="input-icon">
                            <input #busquedaInput type="text"class="form-control form-control-rounded" placeholder="Buscar" />
                            <span class="input-icon-addon">
                                <i class="ti ti-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <ng-container >
                <div class="row">
                    <div class="col-lg-6 table-responsive">
                        <table class="table ">
                            <thead >
                                <tr >
                                    <th>Municipio</th>
                                    <th>Indicador</th>
                                    <th>Total de programas sociales</th>
                                </tr>
                            </thead>
                            <tbody class="table-tbody">
                                <tr></tr>
                                <tr>
                                    <td>Tlaxcala</td>
                                    <td></td>
                                    <td>15</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-lg-6" >
                        <img src="https://th.bing.com/th/id/R.0fcd9bca253af8063e6560bb238d04fd?rik=uy%2f6fdKZ79RwEA&riu=http%3a%2f%2ffotos.e-tlaxcala.mx%2fdistritacion.jpg%3ft%3d1447821714&ehk=sqIoyorw6TnuBztdWGV9AdPOmnVSteLt2z%2fpk207O3s%3d&risl=&pid=ImgRaw&r=0" alt="">
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

   
</div>